#! /usr/bin/env gnuplot
# created by panplot https://github.com/alejandrogallo/panplot

# set terminal unknown;

set datafile separator "{{args.delimiter}}"

set xlabel "{{args.xlabel}}"
set ylabel "{{args.ylabel}}"
set title "{{args.title}}"



{%if args.lines and args.points %}
{% set linesOrPoints = 'linespoints' %}
{%elif args.lines%}
{% set linesOrPoints = 'line' %}
{%elif args.points%}
{% set linesOrPoints = 'point' %}
{%endif%}

plot "data.txt" using {{args.cols | join(':')}} with {{linesOrPoints}}
