#! /usr/bin/env python
# -*- coding: utf-8 -*-
# created by panplot https://github.com/alejandrogallo/panplot

import matplotlib.pyplot as plt
import numpy as np

data = np.loadtxt('data.txt', delimiter="{{args.delimiter}}")

{%- if args.lines and args.points %}
{%- set linesOrPoints = 'o-' %}
{%- elif args.lines%}
{%- set linesOrPoints = '-' %}
{%- elif args.points%}
{%- set linesOrPoints = 'o' %}
{%- endif %}

plt.xlabel("{{args.xlabel}}")
plt.ylabel("{{args.ylabel}}")
plt.title("{{args.title}}")
plt.plot(
    [d[{{args.cols[0]-1}}] for d in data],
    [d[{{args.cols[1]-1}}] for d in data],
    "{{linesOrPoints}}"
)
plt.show()
