#! /usr/bin/env gnuplot
# created by panplot https://github.com/alejandrogallo/panplot

{%- if args.fmt == 'ascii' %}
set terminal dumb
{%- elif not args.fmt %}
#set terminal unknown;
{%- elif args.fmt == 'pdf' %}
set terminal pdfcairo
{%- elif args.fmt == 'gif' %}
set terminal gif
{%- elif args.fmt == 'latex' %}
set terminal latex
{%- elif args.fmt == 'png' %}
set terminal png
{%- elif args.fmt == 'svg' %}
set terminal svg
{%- endif%}

set datafile separator "{{args.delimiter}}"

set xlabel "{{args.xlabel}}"
set ylabel "{{args.ylabel}}"
set title "{{args.title}}"
{%- if args.grid %}
set grid
{%- endif %}

{# Default value for linesOrPoints #}
{%- set linesOrPoints = 'point' %}

{%- if args.lines and args.points %}
{%- set linesOrPoints = 'linespoints' %}
{%- elif args.lines%}
{%- set linesOrPoints = 'line' %}
{%- elif args.points%}
{%- set linesOrPoints = 'point' %}
{%- endif %}

plot \
{%- for data_file in args.data %}
    "{{data_file}}" \
        using {{args.cols | join(':')}} \
{%- if args.legend | length > loop.index-1 %}
        title "{{args.legend[loop.index-1]}}" \
{%- endif %}
        with {{linesOrPoints}}, \
{%- endfor %}
