#! /usr/bin/env gnuplot
# created by panplot https://github.com/alejandrogallo/panplot

{%- if fmt == 'ascii' %}
set terminal dumb
{%- elif not fmt %}
#set terminal unknown;
{%- elif fmt == 'pdf' %}
set terminal pdfcairo
{%- elif fmt == 'gif' %}
set terminal gif
{%- elif fmt == 'latex' %}
set terminal latex
{%- elif fmt == 'png' %}
set terminal png
{%- elif fmt == 'svg' %}
set terminal svg
{%- endif%}

set datafile separator "{{delimiter}}"

set xlabel "{{xlabel}}"
set ylabel "{{ylabel}}"
set title "{{title}}"
{%- if grid %}
set grid
{%- endif %}

{# Default value for linesOrPoints #}
{%- set linesOrPoints = 'point' %}

{%- if lines and points %}
{%- set linesOrPoints = 'linespoints' %}
{%- elif lines%}
{%- set linesOrPoints = 'line' %}
{%- elif points%}
{%- set linesOrPoints = 'point' %}
{%- endif %}

plot \
{%- for data_file in data %}
    "{{data_file}}" \
        using {{cols | join(':')}} \
{%- if legend | length > loop.index-1 %}
        title "{{legend[loop.index-1]}}" \
{%- endif %}
        with {{linesOrPoints}}, \
{%- endfor %}
