#! /usr/bin/env python
# -*- coding: utf-8 -*-
# created by panplot https://github.com/alejandrogallo/panplot

import matplotlib.pyplot as plt
import numpy as np

data = [
{%- for data_file in args.data %}
    np.loadtxt("{{data_file}}", delimiter="{{args.delimiter}}"),
{%- endfor %}
]

{%- if args.lines and args.points %}
{%- set linesOrPoints = 'o-' %}
{%- elif args.lines%}
{%- set linesOrPoints = '-' %}
{%- elif args.points%}
{%- set linesOrPoints = 'o' %}
{%- endif %}

plt.xlabel("{{args.xlabel}}")
plt.ylabel("{{args.ylabel}}")
plt.title("{{args.title}}")


{% for d in args.data %}
plt.plot(
    data[{{loop.index-1}}][:,{{args.cols[0]-1}}],
    data[{{loop.index-1}}][:,{{args.cols[1]-1}}],
    "{{linesOrPoints}}",
{%- if args.legend | length > loop.index-1 %}
    label="{{args.legend[loop.index-1]}}"
{%- endif %}
)
{% endfor %}

{%- if args.grid %}
plt.grid()
{%- endif %}

{%- if args.legend | length > 0 %}
plt.legend(
    # best location possible
    loc='best'
)
{%- endif %}


plt.show()
