#! /usr/bin/env python
# -*- coding: utf-8 -*-
# created by panplot https://github.com/alejandrogallo/panplot

import matplotlib.pyplot as plt
import numpy as np

data = [
{%- for data_file in data %}
    np.loadtxt(
        "{{data_file}}",
        usecols=({{cols[0] | int}}-1, {{cols[1] | int}}-1),
        delimiter="{{delimiter[0]}}"
    ),
{%- endfor %}
]

{%- set linesOrPoints = 'o' %}
{%- if lines and points %}
{%- set linesOrPoints = 'o-' %}
{%- elif lines%}
{%- set linesOrPoints = '-' %}
{%- elif points%}
{%- set linesOrPoints = 'o' %}
{%- endif %}

plt.xlabel("{{xlabel}}")
plt.ylabel("{{ylabel}}")
plt.title("{{title}}")


{% for d in data %}
plt.plot(
    data[{{loop.index-1}}][:,0],
    data[{{loop.index-1}}][:,1],
    "{{linesOrPoints}}",
{%- if legend | length > loop.index-1 %}
    label="{{legend[loop.index-1]}}"
{%- endif %}
)
{% endfor %}

{% for d in hlines %}
plt.axhline(y={{d}})
{% endfor %}

{% for d in vlines %}
plt.axvline(x={{d}})
{% endfor %}

{%- if grid %}
plt.grid()
{%- endif %}

{%- if legend | length > 0 %}
plt.legend(
    # best location possible
    loc='best'
)
{%- endif %}


{%- if fmt == 'pdf' %}
plt.savefig('plot.pdf')
{%- elif not fmt %}
# Use this to save the plot as a figure
#plt.savefig('plot.pdf')
plt.show()
{%- elif fmt == 'gif' %}
plt.savefig('plot.gif')
{%- elif fmt == 'png' %}
plt.savefig('plot.png')
{%- elif fmt == 'svg' %}
plt.savefig('plot.svg')
{%- endif%}

