#! /usr/bin/env python
# -*- coding: utf-8 -*-
# created by panplot https://github.com/alejandrogallo/panplot

import matplotlib.pyplot as plt
import numpy as np

data = [
{%- for data_file in args.data %}
    np.loadtxt(
        "{{data_file}}",
        usecols=({{args.cols[0] | int}}-1, {{args.cols[1] | int}}-1),
        delimiter="{{args.delimiter[0]}}"
    ),
{%- endfor %}
]

{%- set linesOrPoints = 'o' %}
{%- if args.lines and args.points %}
{%- set linesOrPoints = 'o-' %}
{%- elif args.lines%}
{%- set linesOrPoints = '-' %}
{%- elif args.points%}
{%- set linesOrPoints = 'o' %}
{%- endif %}

plt.xlabel("{{args.xlabel}}")
plt.ylabel("{{args.ylabel}}")
plt.title("{{args.title}}")


{% for d in args.data %}
plt.plot(
    data[{{loop.index-1}}][:,0],
    data[{{loop.index-1}}][:,1],
    "{{linesOrPoints}}",
{%- if args.legend | length > loop.index-1 %}
    label="{{args.legend[loop.index-1]}}"
{%- endif %}
)
{% endfor %}

{% for d in args.hlines %}
plt.axhline(y={{d}})
{% endfor %}

{% for d in args.vlines %}
plt.axvline(x={{d}})
{% endfor %}

{%- if args.grid %}
plt.grid()
{%- endif %}

{%- if args.legend | length > 0 %}
plt.legend(
    # best location possible
    loc='best'
)
{%- endif %}


{%- if args.fmt == 'pdf' %}
plt.savefig('plot.pdf')
{%- elif not args.fmt %}
# Use this to save the plot as a figure
#plt.savefig('plot.pdf')
plt.show()
{%- elif args.fmt == 'gif' %}
plt.savefig('plot.gif')
{%- elif args.fmt == 'png' %}
plt.savefig('plot.png')
{%- elif args.fmt == 'svg' %}
plt.savefig('plot.svg')
{%- endif%}

